
.icon-vk:before { content: '\e800'; } /* '' */
.icon-facebook-circled:before { content: '\e801'; } /* '' */
.icon-pinterest-circled:before { content: '\e802'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
