.header{
  position: relative;
  padding: 13px 0 20px;
  background-color: $black;
  z-index: 7;
  .burger{
    display: none;
  }
  &__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__title{
    @include text($rob, normal, 400, 20px, 23px, $milk);
    background: linear-gradient(106.99deg, #E0DEDE 24.92%, #A2A0A0 53.57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  &__list{
    display: flex;
    column-gap: 35px;
    &-item{
      display: flex;
      flex-wrap: wrap;
      @include text($rob, normal, 400, 14px, 16px, $milk);
      position: relative;
      transition: 0.2s;
      &:hover{
        color: white;
        transition: 0.2s;
      }
     &::before{
        content: "";
        width: 0;
        height: 2px;
        background-color: white;
        position: absolute;
        bottom: -10px;
        left: -15px;
        transition: 0.5s;
        z-index: 130;
      }
      &:hover::before{
        width: calc(100% + 30px);
      }
      &-open > &-text{
        display: inline-block;
      }
    }
  }
  &__contact{
    display: flex;
    column-gap: 13px;
    align-items: center;
    &-num{
      @include text($rob, normal, 400, 20px, 23px, $milk);
      background: linear-gradient(106.99deg, #E0DEDE 24.92%, #A2A0A0 53.57%), #DCD7C0;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}


@media (max-width: 1320px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 1025px) {

}

@media (max-width: 992px) {
  .header__list {
    column-gap: 25px;
  }
}

@media (max-width: 876px) {
  .header {
    &__nav{
      justify-content: flex-start;
      column-gap: 50px;
    }
    &__list{
      transition: .5s;
      display: flex;
      flex-direction: column;
      width: 0;
      position: fixed;
      height: 100vh;
      background: grey;
      z-index: 120;
      top: 0;
      left: 0;
      justify-content: center;
      align-items: center;
      row-gap: 50px;
      .header__list-item{
        font-size: 0;
        text-align: center;
        transition: .5s;
        color: #ffffff50;
      }
      &_active{
        background: #000000;
        width: 100%;
        transition: .5s;
        .header__list-item{
          font-size: 25px;
          transition: .5s;
          color: white;
        }
      }
    }
    .burger{
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      top: 20px;
      right: 20px;
      z-index: 121;
      &__line{
        width: 40px;
        height: 5px;
        border-radius: 1.5px;
        background: white;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        position: absolute;
        &::before{
          content: '';
          position: absolute;
          width: 40px;
          height: 5px;
          border-radius: 1.5px;
          background: white;
          left: 0;
          top: -10px;
          transition: .3s;
        }
        &::after{
          content: '';
          position: absolute;
          width: 40px;
          height: 5px;
          border-radius: 1.5px;
          background: white;
          left: 0;
          top: 10px;
          transition: .3s;
        }

      }
      &_active{
        .burger__line{
           background: transparent;
            &:before{
              top: -10px;
              transform: rotate(45deg);
              transition: .3s;
            }
            &:after{
              top: -10px;
              transform: rotate(-45deg);
              transition: .3s;
            }
        }
      }
    }
  }
}
@media (max-width: 768px) {

}
@media (max-width: 676px) {

}
@media (max-width: 576px) {

}
@media (max-width: 425px) {

}
@media (max-width: 375px) {

}
@media (max-width: 325px) {

}





